lib/ 
obj/

## Used to ignore binaries as those wont have an extension
# Note: this will also ignore all folders
# Ignore all
test/*
# Unignore all with extensions
!test/*.*


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app